<!--
<p>Bonjour Nhat Hung!</p>
<div><p>Nom : {{contact.nom}}</p>
<p>email: {{contact.email}}</p></div>
<p>Enter your text : </p>
<input name="textIn" ngModel placeholder="enter text"><p></p>
<p>you have enterred : {{ textIn }}</p>
-->
<!--- div><app-detail-contact></app-detail-contact></div -->
<div class="container spacer">
  <button routerLink="/contacts" class="btn btn-primary">Transporters</button>
  <button routerLink="/nouveau-contact" class="btn btn-primary">Nouveau Transporter</button>
  <button routerLink="/about" class="btn btn-primary">About</button>
</div>
<router-outlet></router-outlet>