<div class="container spacer">
  <button routerLink="/shippers" class="btn btn-primary">Shippers</button>
  <button routerLink="/new-shipper" class="btn btn-primary">Nouveau Shipper</button>
  <button routerLink="/contacts" class="btn btn-primary">Contacts</button>
  <button routerLink="/nouveau-contact" class="btn btn-primary">Nouveau Contact</button>
  <button routerLink="/transporters" class="btn btn-primary">Transporters</button>
  <button routerLink="/new-transporter" class="btn btn-primary">Nouveau Transporter</button>
  <button routerLink="/about" class="btn btn-primary">About</button>
  <!--div>
      <table>
          <tr><td> sdijfsdojfosjdfopjsop</td>td> sdijfsdojfosjdfopjsop</td></tr>
          <tr><td>jdjeopwufdjvkljs</td>td> sdijfsdojfosjdfopjsop</td></tr>
        </table>
  </div-->
  
  
  <!-- table class="table table-striped">
    <tr>
      <td><button routerLink="/shippers" class="btn btn-primary">Shippers</button></td>
      <td><button routerLink="/contacts" class="btn btn-primary">Contacts</button></td>
      <td><button routerLink="/new-transporter" class="btn btn-primary">Nouveau Transporter</button></td>
      <td><button routerLink="/about" class="btn btn-primary">About</button></td>
    </tr>
    <tr>
        <td<button routerLink="/new-shipper" class="btn btn-primary">Nouveau Shipper</button>></td>
        <td>button routerLink="/nouveau-contact" class="btn btn-primary">Nouveau Contact</button></td>
        <td><button routerLink="/about" class="btn btn-primary">About</button></td>
        <td></td>
      </tr>
  </table -->
</div>
<router-outlet></router-outlet>